@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil:400,700');

body {
  overflow:scroll;

  margin: 0px;
  padding: 0px;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
body.guide-structure-page {
  background-color: gray;
  background-image: url("../img/guide_structure_bg.jpg");
}
.container {
  width: 974px;
  margin: 0 auto;
  padding: 0px 3px;
}

.clearfix:after {
  display: table;
  clear: both;

  content: "";
}

/*------------ Хедер ------------------*/
.main-header {
  margin: 0px;
  padding-top:35px;
  padding-bottom: 10px;
}

.main-navigation {
  float: right;

  width: 800px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: right;

    font-size: 0;
}

.main-navigation li {
  display: inline-block;

}

.main-navigation a {
  display: block;

  padding-right: 15px;
  padding-left:15px;

  text-decoration: none;
  text-transform: uppercase;

  color:#000000;

  font-size: 15px;
  line-height: 25px;
}

.active-now a,
.main-navigation a:hover {
  color:#27D3B4;
}


/*---------- Мейн  ----------------*/

.index-body .container {
  position: relative;

  font-size: 0px;
}
main {
  min-height: 500px;
}
.promo {
  position: absolute;
  z-index: 1;
  top:0px;
  right: 0px;

  width: 630px;
  height: 360px;
  padding:4px 0;

  background-color: black;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.6);
}
.shadow-left, .shadow-right{
  position: absolute;
  bottom: -26px;

  width: 165px;
  height: 26px;

  content:"";

  background: url("../img/liftedshadow_medium.png") no-repeat;
}
.shadow-left {
  left: -20px;
}
.shadow-right {
  right: -20px;

  background-position: 100% 0;
}

.index-title {
  position: absolute;
  z-index: 10;
  top:130px;

  text-transform: uppercase;
}
.index-title span {
  padding-left: 5px;

  letter-spacing: 0.3em;

  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}
.index-title .slogan {


}
.index-title b{
  letter-spacing: 0.1em;

  background-color:rgba(255,255,255,0.8);

  font-family: 'Raleway', sans-serif;
  font-size: 68px;
  font-weight: bold;
  line-height: 1em;
}

footer p{
  margin-left: 195px;

  text-transform:none;

  font-size: 12px;
}

.inner-page-title {
  position: absolute;
  top: 130px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  background-color:rgba(255,255,255,0.9);

  font-size: 68px;
  line-height: 80px;
}

.inner-page-content {
  margin-bottom: 50px;
  padding-left:195px;
}

.streams {
  font-size: 0;

}
.streams-item {
  display: inline-block;

  margin-right: 7px;
  margin-bottom: 7px;

  background-color:white;
  box-shadow:0px 2px 3px 0px rgba(0,0,0,0.3);
}
.streams-item:hover{
  opacity: 0.3;
  box-shadow:0px 1px 3px 0px rgba(0,0,0,0.7);
}
.streams-item:nth-child(3n){
  margin-right: 0px;
}
.social {
  width:200px;
  margin-left:50px;

  font-size: 0px;
}
.social-btn {
  display: inline-block;

  width: 40px;
  height: 40px;
  margin-right:8px;

  text-decoration: none;

  border-radius: 50%;
  background: black;
}
.social-btn-vk {
  background:url("../img/social_btn_vk.png") no-repeat;
}
.social-btn-fb {
  background:url("../img/social_btn_fb.png") no-repeat;
}
.social-btn-YT {
  background:url("../img/social_btn_yt.png") no-repeat;
}
.social-btn-inst {
  background:url("../img/social_btn_inst.png") no-repeat;
}
.social {
  float:left;

  margin-top:180px;
}
.contact-info {
  float:right;

  width:510px;
  margin-top: 50px;
}
.contact-info ul {
  list-style: none;
}
.contact-info li{
  margin-bottom:30px;
}
.contact-info a{
  text-decoration: none;

  color: #309C89;
}

.imp-info {
  width: 240px;
  margin-top:20px;
  padding:0px;
  padding-left: 25px;

  color:black;

  font-size: 14px;
  line-height: normal;
}
.imp-info-title{
  letter-spacing: 0.1em;

  font-size: 16px;
}
.inner-page-content .slider {
  width: 779px;
  height: 445px;
  margin: 0px;
  padding: 0px;

  background-color: black;
}
.separator {
  height: 6px;

  border-top: 3px solid black;
  border-bottom:1px solid black;
}
.inner-page-content-turnaments {
  padding-left:195px;
}
.inner-page-content-turnaments h2,
.inner-page-content-turnaments h2 a {
  color: #309C89;

  font-size: 30px;
}
.inner-page-content-turnaments-item {
  position: relative;

  width:390px;
  min-height: 200px;
  margin-bottom: 55px;
  padding-left: 360px;
}
.inner-page-content-turnaments-item img {
  position:absolute;
  top: 0;
  left:0;
}
.inner-page-content-turnaments-item h3 {
  color:#656565;

  font-size: 15px;
}
.inner-page-content-turnaments-item p {
  margin-bottom: 40px;

  font-size: 14px;
}
.inner-page-content-turnaments-item .btn-reg{
  display: inline-block;

  padding-right: 40px;
  padding-left: 40px;

  text-decoration: none;

  color:black;
  border: 1px solid rgb(48, 156, 137);
  background: white;

  font-size: 15px;
  line-height: 40px;
}
.inner-page-content-turnaments-form {
  width: 500px;
}
.inner-page-content-turnaments-form label {
  display: block;

  margin-bottom: 15px;

  font-size: 20px;
  font-weight: bold;
}
.inner-page-content-turnaments-form input,
.inner-page-content-turnaments-form textarea {
  width: 500px;
  margin-top: 10px;

  border:3px solid rgba(0, 108, 109, 1);
}
.inner-page-content-turnaments-form button {
  display: block;

  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;

  text-align: center;

  color:white;
  border:0px;
  background-color: rgba(0, 108, 109, 1);

  font-size: 20px;
  line-height: 1.4em;
}
.guide_structure,
.guide-page-title {
  list-style: none;

  color: white;

  font-family: "courier new",monospace;
  font-size: 30px;
  font-weight: bold;
}
.guide_structure li {
  margin-bottom: 5px;
}
.guide_structure a{
  text-decoration: none;

  color: white;
}
.guide_structure a:hover{
  color: rgb(64, 214, 188);

}
.guide_structure span,
.guide_content_title span {
  font-weight:lighter;
}
.inner-page-guides-item h2 {
  margin-bottom: 50px;

  font-size: 50px;
}
.inner-page-guides-item p {
  margin-bottom: 50px;
  padding-left: 20px;

  font-family: "courier new",monospace;
  font-size: 15px;
}
.inner-page-guides-item .site {
  font-family: 'Stardos Stencil', cursive;
  font-size: 18px;
  font-weight:bolder;
}

.inner-page-guides a{
  color:black;

}
.guide-page .guide-page-title{
  margin-bottom: 50px;

  color:black;
}

.guide-page .guide-content-title,
.back-to-guide-structure {
  margin-bottom: 30px;

  color:#309C89;

  font-size: 22px;
  font-weight: normal;
}
.guide-content {
  padding-left: 15px;

  font-family: "courier new",monospace;
}
.guide-content a{
  color:black;
}
.guide-content img {
  display: block;

  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
.guide-content h3 {
  font-size: 17px;
}
.guide-content p {
  margin-bottom: 30px;

  font-size: 14px;
}
.guide-content ul,
.guide-content ol {
  padding-left: 25px;

  font-size: 14px;
}
.guide-content p + ul,
.guide-content p + ol {
  margin-top: -30px;
}
.partners-list-title {
  color:rgb(48, 156, 137);
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 40px;
}
.partners-list {
  margin: 0px;
  padding: 0px;

  list-style: none;

  color:rgb(48, 156, 137);

  font-size: 0px;

}
.partners-list li{
  position: relative;

  display: inline-block;

  width:40%;
  margin-bottom: 25px;
  padding-left:20px;
}
.partners-list li::before{
  position: absolute;
  top: 0;
  left: 0;

  display: table;

  content: "//";

  font-size: 16px;
}
.partners-list a {
  display: block;
  text-decoration: none;
  color:rgb(48, 156, 137);
  line-height: 20px;

  font-size:16px;
}
